body {
  font-family: 'Poppins', sans-serif;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

pre {
  display: inline;
}

.container {
  display: flex;
  gap: 1em;
}

.color-box {
  width: 170px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-box pre {
  margin: 0;
  padding: .3em;
  background-color: white;
}

.color-box.light-blue {
  background-color: rgb(142, 211, 255);
}

.color-box.light-green {
  background-color: rgb(146, 255, 142);
}

.color-box.light-yellow {
  background-color: rgb(255, 251, 142);
}

.text-style-block {
  padding: 1em;
  max-width: 400px;
  border: 1px dotted gray;
}

.text-style-block+.text-style-block {
  margin-top: 1em;
}


.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}