h1 {
   background-image: url("assets/pattern.jpg");
   font-family: Helvetica, sans-serif;
   font-size: 100px;
   font-weight: bold;
   color: khaki;
   text-align: center;
}

h2 {
   font-family: Helvetica, sans-serif;
   font-size: 32px;
   font-weight: bold;
   color: white;

   &#brushes {
      background-color: mediumspringgreen;
   }

   &#frames {
      background-color: coral;
   }

   &#paint {
      background-color: skyblue;
   }
}

span.price {
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   color: blue;
}